/* Reviews.css */
.reviews {
  margin-bottom: 20px;
}

.reviews h2 {
  font-size: 18px;
}

.reviews ul {
  list-style: none;
  padding: 0;
}

.reviews li {
  margin-bottom: 5px;
}

/* Reviews.css */

.reviews {
  padding: 20px;

  margin: 0 auto;
}

.review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.review {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  background-color: antiquewhite;
  width: 30%;
  margin: 10px;
}

.review h3 {
  margin: 0;
  font-size: 18px;
}

.rating {
  color: #ffc107; /* Yellow color for stars */
  font-size: 20px;
  margin-bottom: 5px;
}

.star-icon {
  margin-right: 3px;
}

.review p {
  margin: 0;
}
